{% extends 'base.html' %}

{% block title %}Post List{% endblock %}

{% block header %}
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/img/home-bg.jpg') }}')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>{{ current_category.name }}</h1>
                        <span class="subheading">({{ posts.count() }}) 개의 포스트가 있습니다.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <!-- Main Content-->
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-10">
                <!-- Post preview-->
                {% for post in posts %}
                    <div class="post-preview">
                        <a href="{{ url_for('views.post_detail', id=post.id) }}">
                            <h6 class="post-title">{{ post.title }}</h6>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">{{ post.user.username }}</a>
                            on {{ post.created_at }}
                        </p>
                    </div>
                {% endfor %}
                <!-- Divider-->
                <hr class="my-4"/>
                <!-- Pager-->
                <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older
                    Posts →</a></div>
            </div>
        </div>
    </div>
{% endblock %}