{% extends 'base.html' %}

{% block title %}This is Post Detail.{% endblock %}

{% block header %}
<!-- Page Header-->
<header class="masthead" style="background-image: url( {{ url_for('static', filename='assets/img/post-bg.jpg') }} )">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <div id="title-wrapper"><h1>{{ post.title }}</h1></div>
                    <h2 class="subheading">Problems look mighty small from 150 miles up</h2>
                    <span class="meta">
                        <div id="author-wrapper"><p>Posted by <a href="#!">{{ post.user.username }}</a></p></div>
                        <p>on {{ post.created_at }}</p>

                        {% if post.user.username == current_user.username %}
                        <button class="btn btn-info" id="edit-button">
                            <a href="{{ url_for("views.edit_post", id=post.id) }}">Edit</a>
                        </button>
                        {% endif %}

                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div id="content-wrapper">{{ post.content }}</div>
            </div>
        </div>
    </div>
</article>
{% endblock %}